/* insertion des polices choisis */

@font-face {
    font-family: 'RalewayBold';
    src: url('polices/static/Raleway-Bold.ttf') format('truetype');
    font-size: 16px;
}

@font-face {
    font-family: 'RalewayMedium';
    src: url('polices/static/Raleway-Medium.ttf') format('truetype');
    font-size: 16px;
}


body {
    font-family: 'RalewayMedium','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    flex-direction:column;
    margin:0px;
}

header{
    margin-top:2em;
    display:flex;
    flex-direction:column;
}

#header_mobile{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding:0em 1em 0em 1em;
}

#inscription_telephone{
    display:flex;
    align-items:center;
}

#inscription_telephone a {
    text-decoration:none;
    color:#0065fc;
    font-size:1.2em;
    padding-right:1em;
}

nav ul{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding:0px;
}

#inscription_desktop{
    display:none;
}

nav li {
    list-style-type: none;
    border-bottom: 3px solid #f2f2f2;
    width: 50%;
    text-align: center;
    padding-bottom: 0.7em;
}

nav li a {
    text-decoration: none;
    color: black;
    font-size:1.2em;
}

nav li:hover {
    border-bottom: 3px solid #0065fc;
}

nav li a:hover {
    color: #0065fc;
}

nav li:first-child {
    border-bottom: 3px solid #0065fc;
}

nav li:first-child > a {
    color: #0065fc;
}


/*Section recherche*/
#bouton_recherche_desktop {
    display: none;
}

#section_recherche{
    margin:0em 1.2em 1em 1.2em;
}

#formulaire_recherche {
    display: inline-block;
    width: 100%;
    border: 2px solid #f2f2f2;
    border-radius: 15px;
    margin-top:1em;
}

#section_recherche form{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    height:3em;
}

#section_recherche label{
    width:3em;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#f2f2f2;
    border-radius:15px 0px 0px 15px;
}

#champ_recherche {
    flex-grow:1;
    border: none;
    padding-left: 1em;
    font-family: 'RalewayBold';
}

/* changement couleur du placeholderpour firefox (firefox met automatiquement une opacité au placeholder)*/
#champ_recherche::placeholder {
    opacity:1;
}

/* changement couleur du placeholderpour chrome et safari( il suffit de modifier la couleur) */
#champ_recherche::-webkit-input-placeholder {
    color:black;
}
    

#bouton_recherche_mobile{
    color:white;
    background-color:#0065fc;
    border-radius:0px 15px 15px 0px;
    border:none;
    width:3.5em;
}

#filtre_recherche {
    display:flex;
    flex-direction:column;
}


#filtre_recherche ul{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    flex-wrap:wrap;
    padding-left:0em;
}

#filtre_recherche li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 3px solid #f2f2f2;
    border-top: 3px solid #f2f2f2;
    border-right: 3px solid #f2f2f2;
    border-radius: 30px;
    padding-right: 0.9em;
    margin-bottom: 0.9em;
    margin-right: 0.9em;
}

#filtre_recherche i{
    display:flex;
    align-items:center;
    justify-content:center;
    width:3em;
    height:3em;
    background-color:#deebff;
    color:#0065fc;
    border-radius:50%;
}

#filtre_recherche li p {
    padding-left: 0.6em;
    margin: auto;
    font-family: 'RalewayBold';
}

#recherche_info{
    display:flex;
    flex-direction:row;
    align-items:center;
}

#recherche_info i{
    width:2em;
    height:2em;
    color:#0065fc;
    display:flex;
    justify-content:center;
    align-items:center;
    border:2px solid #f2f2f2;
    border-radius:50%;
    flex-shrink:0;
}

#recherche_info p{
    margin-left:0.9em;
}

/*Section hebergements populaires et hebergements proposés*/
#hebergement_populaire{
    background-color:#f2f2f2;
    padding:1.45em;
    font-size:0.8em;
}

#hebergement_populaire h2{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.detail_vignette_populaire {
    background-color: white;
    border: 5px solid white;
    border-radius: 15px;
    margin-bottom: 0.8em;
}

.detail_vignette_populaire a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color:black;
}


.detail_vignette_populaire img {
    width:127px;
    height:134px;
    object-fit: cover;
    border-radius:15px 0px 0px 15px;
}

.texte_vignette_populaire {
    padding-left:1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 1em;
}


.notePop i{
    color: #f2f2f2;
}

#NPop1 i:nth-child(-n+5) {
    color: #0065fc;
}

.notePop i:nth-child(-n+4) {
    color: #0065fc;
}

#hebergement_propose {
    padding: 2em 1.45em 1em 1.45em;
    font-size: 0.8em;
}

#hebergement_propose h2{
    margin-bottom:1.1em;
}

.detail_vignette_hebergement a{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    margin-bottom: 1em;
    border: 3px solid white;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.detail_vignette_hebergement img {
    width: 100%;
    height: 116px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px 15px 0px 0px;
}

.detail_vignette_hebergement div{
    padding:0em 0.6em;
}

.detail_vignette_hebergement h3{
    margin:0.3em 0em 0.3em 0em;
}

.detail_vignette_hebergement p {
    margin: 0.3em 0em 0.3em 0em;
}

.note{
    margin:0em 0em 0.5em 0em;
}

.note i {
    color: #f2f2f2;
}
/*mise en place des notes pour chaques vignettes*/

.note i:nth-child(-n+3) {
    color: #0065fc;
}

#N2 i:nth-child(-n+5), #N6 i:nth-child(-n+5) {
    color: #0065fc;
}

#N1 i:nth-child(-n+4), #N3 i:nth-child(-n+4) {
    color: #0065fc;
}

#hebergement_propose a {
    text-decoration: none;
    color: black;
    font-size:1.1em;
}



#afficher_plus {
    display: block;
    text-decoration: none;
    color: black;
    font-family: 'RalewayBold';
    margin-top: 2em;
}


/*section Activités*/

#section_activite {
    padding:0.2em 1.4em 2em 1.4em;
    font-size: 0.8em;
}

.detail_vignette_activite a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1em;
    border: 3px solid white;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-decoration: none;
}

.detail_vignette_activite a {
}

.detail_vignette_activite img {
    width: 100%;
    height: 137px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px 15px 0px 0px;
}

.detail_vignette_activite p {
    padding: 0.1em 0em 0.2em 0.8em;
    font-family: 'RalewayBold';
    color: black;
}

/*footer*/

footer{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    background-color:#f2f2f2;
    padding-bottom:1em;
}

.pied_page {
    padding: 0.2em 2em 0em 2em;
    font-size: 0.8em;
}

.pied_page p{
    margin-bottom:0.8em;
}

.pied_page a {
    text-decoration: none;
    color: black;
}


/*Media Queries Tablette*/
@media only screen and (min-width: 768px){

    #header_mobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #inscription_telephone {
        display: none;
    }

    #inscription_desktop {
        display: block;
    }

    #formulaire_recherche {
        width: 55%;
    }

    #champ_recherche {
        padding-left: 3em;
    }

    #bouton_recherche_desktop {
        width: 125px;
    }

    #hebergement_populaire {
        font-size: 0.6em;
    }

    #section_hebergement{
        display:flex;
        flex-direction:column-reverse;
    }

    #vignettes_hebergement_populaire {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    }

    .detail_vignette_populaire{
        width:30%;
        font-size:1.25em;
    }

    .detail_vignette_populaire img{
        width:40%;
    }

    #hebergement_propose {
        display: flex;
        flex-direction: column;
    }

    #vignettes_hebergement_propose{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:space-between;
    }

    .detail_vignette_hebergement{
        width:30%;
    }

    .vignette_activite{
        display:flex;
        flex-direction:row;
    }

    .triplette{
        width:48%;
        display:flex;
        flex-direction:column;
        padding:1em;
    }

    .detail_vignette_activite img{
        width:100%;
        height:303px;
    }

    footer{
        display:flex;
        flex-direction:row;
        padding:1.5em 4.5em 1.5em 1em;
    }
}


/*Media Queries Ordinateur Portable*/
@media only screen and (min-width: 1100px){    

    .detail_vignette_populaire img {
        width: 40%;
    }

    .texte_vignette_populaire {
        font-size: 1.2em;
        margin-top:0.5em;
        padding:0em 0em 0.3em 0.3em;
    }

    .triplette {
        width: 48%;
    }

    #detail_vignette_activite img{
        width:572px;
    }

    .vignette_activite_double {
       display:flex;
       flex-direction:row;
       justify-content:space-between;
    }

    .vignette_activite_double .detail_vignette_activite {
        width: 48%;
    }

}

/*Media Queries Ordinateur*/
@media only screen and (min-width: 1299px) {

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        margin-top: 0em;
        padding: 0px 50px;
    }

    main{
        padding:0em 2.3em;
    }

    #header_mobile{
        display:flex;
        flex-direction:row;
        align-content:center;

    }

    header img {
        height: 30px;
        width: 93px;
        margin:auto;
        padding-top:1em;
        object-fit: cover;
    }


    header nav {
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        padding:0em 1.2em;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        margin: 0px;
    }

    header nav li {
        list-style-type: none;
        border-bottom:none;
        padding-top: 50px;
        margin-right: 25px;
        margin-left: 44px;
        font-size: 0.9em;
    }

    header nav a {
        color: black;
        text-decoration: none;
    }

    nav li:hover {
        border-top: 1px solid #0065fc;
        border-bottom:none;
    }
    nav li:first-child {
        border-top: 1px solid #0065fc;
        border-bottom: none;
    }

    #btn_inscription {
        color: #0065fc;
    }

    main{
        padding-top:1.3em;
    }

    #formulaire_recherche{
        width:33%;
    }

    #filtre_recherche{
        display:flex;
        flex-direction:row;
        align-content:center;
        align-items:center;
    }

    #filtre_recherche ul{
        width:60%;
        display:flex;
        justify-content:space-between;
        align-content:center;
        margin-left:1.2em;
    }

    #filtre_recherche ul li{
        margin-bottom:15px;
        max-height:52px;
    }

    #filtre_recherche ul li:hover {
        transform: scale(1.1);
    }

    #section_hebergement{
        display:flex;
        flex-direction:row-reverse;
        justify-content:space-between;
        padding:0em 1.2em;
    }

    #hebergement_propose{
        width:60%;
        background-color:#f2f2f2;
        border-radius:15px;
        padding:2em 3em 3em 3em;
    }

    #hebergement_populaire {
        width: 25%;
        background-color: #f2f2f2;
        border-radius: 15px;
        font-size:0.75em;
        padding:2em 3.5em 0px 3.5em;
    }

    #hebergement_populaire h2{
        width:100%;
    }

    #vignettes_hebergement_populaire {
        display: flex;
        flex-direction: column;
        align-items:center;
    }

    .detail_vignette_populaire {
        width:100%;  
        font-size:1.1em;
    }

    .detail_vignette_populaire img {
        width: 130px;
        min-width:130px;
    }

    .texte_vignette_populaire p {
        margin: 1px 0px 1px 0px;
    }

    .texte_vignette_populaire {
        max-height: 134px;
        font-size: 1.1em;
        display: flex;
        flex-direction: column;
        margin:0px;
    }

    .text{
        width:90%;  
        min-width:130px;
    }


    .texte_vignette_populaire h3{
        margin:2px 0px 5px 0px;
    }

    .triplette {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 48.5%;
        padding: 0px;
    }

    .vignette_activite{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
    }

    .detail_vignette_activite {
        width: 47%;
    }

    .detail_vignette_activite img{
        width:100%;
        height:390px;
    }

    .vignette_activite_double {
        display: flex;
        flex-direction: column;
        width:47%;
    }

    .vignette_activite_double .detail_vignette_activite{
        width:100%;
    }

    .vignette_activite_double .detail_vignette_activite a:first-child{
        height: 208px;
    }

    .vignette_activite_double .detail_vignette_activite:nth-child(2) >a{
        height: 174px;
    }

    .vignette_activite_double img{
        width:100%;
        height:80%;
    }

    footer {
        font-size: 1.2em;
        display:flex;
        flex-direction:row;
        justify-content:flex-start;
        padding: 1.5em 4.5em 1.5em 2.5em;
    }

    .pied_page {
        width:37%;
    }

    footer p{
        margin:auto;
    }
}